argon2-cffi
argon2-cffi-bindings
asgiref
attrs
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
dj-email-url
Django
django-axes
django-cache-url
django-cors-headers
django-filter
django-minio-storage
django-phonenumber-field
djangorestframework
djangorestframework-simplejwt
djoser
drf-spectacular
environs
gunicorn
idna
inflection
jsonschema
jsonschema-specifications
marshmallow
minio
oauthlib
packaging
phonenumbers
pillow
psycopg2-binary
pycparser
pycryptodome
PyJWT
python-dotenv
python3-openid
PyYAML
redis
referencing
requests
requests-oauthlib
rpds-py
ruff
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
uritemplate
urllib3
